<h4>Child Component 3</h4>

<p style="color:@TColor; font-size: @FontSize">I'm Child 1 with @TColor color with @FontSize font-size.</p>

@code {

    [CascadingParameter]
    public string TColor { get; set; }

    [CascadingParameter]
    public string FontSize { get; set; }
}
